@model Blog.Web.Areas.Admin.Users.FormUserViewModel
@{
    ViewData["Title"] = "Change Password Form";
}

@section styles {
    <link rel="stylesheet" href="~/admin/css/create-user.css" />
}

<div class="form-wrapper">
    <form asp-area="Admin" asp-controller="User" asp-action="ChangePassword" class="main-form">
        <h1 class="text-center">
            <span>Change Password</span>
        </h1>

        <input type="hidden" asp-for="UserId" value="@Model?.UserId"/>

        <div class="form-group">
            <label asp-for="Password">New Password</label>
            <input class="form-control" asp-for="Password" value="@Model?.Password"/>
        </div>

        @if (Model?.ErrorMessages != null)
        {
            <div>
                @foreach (string errorMessage in Model.ErrorMessages)
                {
                    <div class="alert alert-danger">@errorMessage</div>
                }
            </div>
        }

        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>