@model Blog.Web.Areas.Admin.Users.FormUserViewModel
@{
    ViewData["Title"] = "Create User Form";
}

@section styles {
    <link rel="stylesheet" href="~/sass_compiled/admin/user/create.css" />
}

<div class="form-wrapper">
    <form asp-controller="User" asp-action="Create">
        <h1 class="text-center">
            <span>Creating User</span>
        </h1>
        
        <div class="form-group">
            <label asp-for="Username">Username</label>
            <input class="form-control" asp-for="Username" value="@Model?.Username" />
        </div>
        
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" class="form-control" asp-for="Password" />
        </div>

        @if (Model?.ErrorMessages != null)
        {
            <div>
                @foreach (string errorMessage in Model.ErrorMessages)
                {
                    <div class="alert alert-danger">@errorMessage</div>
                }
            </div>
        }
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>