@model Blog.Web.DAL.UserPoco
@{
    ViewData["Title"] = "Delete User Form";
}

@section styles {
    <link rel="stylesheet" href="~/sass_compiled/admin/user/delete.css" />
}

<form class="main-form" asp-area="Admin" asp-controller="User" asp-action="TakeDelete" asp-route-id="@Model!.UserId">
    <h2>You are about to delete user:</h2>
    <h1 class="username">@Model.Name</h1>
    <h3>Are you sure?</h3>
    <a type="submit" class="btn btn-primary" asp-controller="Post" asp-action="All">Cancel</a>
    <button type="submit" class="btn btn-link btn-delete">Delete</button>
</form>


