main {
    padding: 5px 10px;
}

$color-orange: #f58225;
$color-lightorange: #f79e55;
$color-darkorange: #ea6f0b;

article {
    border-left: 5px solid $color-orange;
    margin: 10px 0;
    background-color: white;

    .excerp {
        border-bottom: 2px solid lightgray;
        padding-bottom: 5px;
        padding-left: 10px;
        color: gray;
        margin: 0;
        font-size: 0.6em;
    }
}

.title {
    margin-left: 10px;

    a {
        color: $color-orange;
        font-size: 0.7em;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        word-spacing: -2px;
    }

    h2 {
        margin: 0;
    }

    .tags {
        display: flex;
        flex-flow: row wrap;

        .tag {
            &::before {
                content: '\f02b';
                font-family: 'FontAwesome';
                margin-right: 3px;
            }

            &:not(:first-child) {
                margin-left: 5px;
            }

            background-color: #f8f8f8;
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 3px;
            font-size: 0.6em;
            color: gray;
        }
    }
}

.pagination {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    width: fit-content;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;

    a {
        padding: 5px 10px;
        color: white;
        font-weight: 600;
        text-decoration: none;
        background-color: $color-orange;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;

        &.disabled {
            opacity: 0.5;
            border-left: none !important;
            border-right: none!important;
        }

        &:hover:not(.disabled) {
            background-color: $color-darkorange;
        }

        &:first-child {
            border-right: 1px solid $color-lightorange;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-left: 1px solid $color-lightorange;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}