@import url(
    'https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'
);

$color-cyan: #02a0a9;

html, body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #f9f9f9;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

main {
    flex-grow: 1;
    width: 100%;
    z-index: 0;
}

.navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    padding: 0 5px;
    height: 40px;
    background-color: white;
    box-shadow: 0px -1px 8px 4px rgb(169 178 179 / 32%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    z-index: 100;

    a {
        color: $color-cyan;
        text-decoration: none;
        font-size: 1.3em;
    }

    .homepage {
        font-weight: 600;
        float: right;
        transition: color 0.25s linear;

        &:hover {
            color: #017379;
        }
    }

    .menu {
        margin-left: 10px;
        float: left;
        -webkit-tap-highlight-color: transparent;
    }

    nav {
        display: block;
        position: fixed;
        top: 0;
        background-color: white;
        width: 250px;
        left: 0;
        height: 100vh;
        transition: transform 0.25s linear;
        z-index: 2;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-left: 10px;
            padding-top: 20px;
        }

        li {
            font-size: 18px;
            letter-spacing: -1px;
            text-transform: capitalize;

            svg {
                width: 20px;
                margin-right: 15px;
            }
        }

        &:not(.show) {
            transform: translateX(-100%);

            & + .menu-overlay {
                opacity: 0;
                z-index: -1;
            }
        }
    }

    .menu-overlay {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0,0,0, 0.3);
        transition: opacity 0.15s linear;
        z-index: 1;
    }
}

footer {
    font-size: 1em;
    padding: 0 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    color: $color-cyan;
    border-bottom: 2px solid $color-cyan;

    a {
        text-decoration: none;
        color: inherit;
        font-weight: 600;

        &:not(:last-child)::after {
            content: "";
            display: inline-block;
            border-radius: 50%;
            height: 3px;
            width: 3px;
            background-color: #e5e5e5;
            vertical-align: middle;
            margin: 0 5px;
        }
    }

    .message {
        font-size: 0.8em;
        text-align: center;
        color: #999999;

        a {
            border-bottom: 2px solid $color-cyan;
            color: $color-cyan;
            opacity: 0.55;
            transition: opacity 0.25s linear, text-shadow 0.25s linear;

            &:hover {
                opacity: 1;
                text-shadow: cyan 1px 0 10px;
            }
        }
    }

    .links-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;
        padding: 0 5px;
    }
}

@media (min-width: 1400px) {
    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    .menu {
        display: none;
    }

    footer {
        max-width: 1200px;
        margin: 10px auto;
    }

    .navigation {
        .container {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }

        .menu-overlay {
            display: none;
        }

        nav {
            transform: translateX(0) !important;
            position: static;
            background-color: transparent;
            height: unset;
            width: fit-content;
            width: -moz-fit-content;

            a {
                display: inline-block;
                padding: 5px;
                opacity: 0.55;
                transition: opacity 0.15s linear;

                &:hover {
                    opacity: 1;
                }
            }

            ul {
                padding: 0;
            }

            li {
                position: relative;
                margin: 0 5px;
                display: inline-block;

                &:not(:last-child)::after {
                    content: "";
                    display: inline-block;
                    border-radius: 50%;
                    height: 5px;
                    width: 5px;
                    background-color: #e5e5e5;
                    vertical-align: middle;
                }

                svg {
                    display: none;
                }
            }
        }
    }
}
