$color-orange: #f58225;
$color-cyan: #02a0a9;

article {

    header {
        h1 {
            font-size: 1.5em;
            text-align: center;
            color: $color-orange;
            margin-bottom: 5px;
        }

        .post-info {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin-top: 5px;

            > * {
                background-color: white;
                border: 1px solid lightgray;
                border-radius: 5px;
                padding: 3px;
                font-size: 0.6em;
                color: gray;
                width: fit-content;

                &:not(:first-child) {
                    margin-left: 5px;
                }
            }
        }
    }

    .content {
        padding: 15px 40px;
        background-color: white;
        margin: 20px;
        min-height: 400px;
        color: #333;
        overflow-wrap: break-word;

        h1, h2, h3, h4, h5, h6 {
            color: $color-orange;
            border-bottom: 1px solid lightgray;
        }

        .heading-anchor {
            color: $color-orange;
            margin-left: -30px;
            margin-right: 10px;
            text-decoration: none;

            i {
                font-size: 70%;
            }
        }

        ul {
            list-style-type: none;
            padding: 0;

            ul {
                padding-left: 20px;
            }

            li {
                &::before {
                    content: '\f068';
                    font-family: 'FontAwesome';
                    margin-right: 10px;
                    font-size: 12px;
                }
            }

            code {
                background-color: #f7f6f3;
                color: $color-cyan;
                padding: 5px 10px;
                font-weight: 600;
            }
        }
    }

    .tags {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .tag {
            text-decoration: none;

            &::before {
                content: '\f02b';
                font-family: "Font Awesome 5 Free";
                font-weight: 600;
                margin-right: 3px;
            }

            &:not(:first-child) {
                margin-left: 5px;
            }

            background-color: white;
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 3px;
            font-size: 0.6em;
            color: gray;
        }
    }

    .quick-access {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        margin-top: 5px;

        a {
            text-decoration: none;
            margin: 0 5px;
            background-color: white;
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 5px 10px;
            color: $color-cyan;
            transition: transform 0.15s linear;

            &:active {
                transform: scale(105%);
            }
        }
    }
}

@media (min-width: 1400px) {
    .heading-anchor {
        opacity: 0;
    }

    h1,h2,h3,h4,h5,h6 {
        &:hover {
            .heading-anchor {
                opacity: 1;
            }
        }
    }
}