@{
    ViewData["Title"] = "Home Page";
}


<article>
    <header>
        <a href="#">This is article 1</a>
    </header>
    <div class="line"></div>
    <p>Some text</p>
    <div class="tags">
        <a href="#">cat</a>
        <a href="#">dog</a>
        <a href="#">frog</a>
        <a href="#">animal</a>
    </div>
</article>