@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link href="~/css/home.css" rel="stylesheet" />
}
    <main>
        <article>
            <header>
                <a asp-controller="Home" asp-action="Post" asp-route-id="1">This is article 1</a>
            </header>
            <div class="line"></div>
            <p>Some text</p>
            <div class="tags">
                <a href="#">cat</a>
                <a href="#">dog</a>
                <a href="#">frog</a>
                <a href="#">animal</a>
            </div>
        </article>
    </main>