@model PostModel[]

@{
    ViewData["Title"] = "Home";
}

@section styles {
    <link href="~/css/home.css" rel="stylesheet" />
}
<main>
    @foreach (var post in Model)
    {
        <article>
            <header>
                <a asp-controller="Data" asp-action="Post" asp-route-id="@post.Id">@post.Title</a>
            </header>
            <div class="line"></div>
            <p>@post.Content</p>
            <div class="tags">
                @foreach (var tag in post.Tags)
                {
                    <a href="#">@tag</a>
                }
            </div>
        </article>
    }
</main>