@{
    ViewData["Title"] = "Login";
}

<section></section>

<main>
    <form asp-controller="Home" asp-action="Login" method="post">
        <input type="text" name="username" />
        <input type="text" name="password" />
    </form>
</main>