@model LoginAccountModel

@{
    ViewData["Title"] = "Login";
}

<section></section>

<main>
    @if ((bool)ViewData["isLogged"]) {
        <div>
            <h1>You are already logged @Model.Username!</h1>
            <form asp-controller="Home" asp-action="LogOut" method="post">
                <input type="submit" name="button" value="Log out!" />
            </form>
        </div>
    }
    else
    {
        <form asp-controller="Home" asp-action="Login" method="post">
            <input type="text" name="username"/>
            <input type="password" name="password"/>
            <input type="submit" value="Log in!" />
        </form>
    }
</main>