@model PostModel

@{
    ViewData["Title"] = @Model.Title;
}

@section styles {
    <link href="~/css/post.css" rel="stylesheet" />
}

<main>
    <header>@Model.Title</header>
    <p>@Model.Content</p>
    <div class="tags">
        @foreach (var tag in Model.Tags)
        {
            <a href="#">@tag</a>
        }
    </div>
</main>


