@using Markdig
@model PostModel

@{
    ViewData["Title"] = @Model!.Title;

    string contentHtml = Markdown.ToHtml(Model.Content);
}

@section styles {
    <link href="~/sass_compiled/post.css" rel="stylesheet" />
}

<main>
    <article>
        <header>
            <h1>@Model!.Title</h1>
            <div class="tags">
                @foreach (var tag in Model.Tags)
                {
                    <a href="#" class="tag">@tag</a>
                }
            </div>
            <div class="post-info">
                @if (Model.UpdatedOn.HasValue)
                {
                    <div>
                        <i class="far fa-clock"></i>
                        @(Model.UpdatedOn.Value.ToString("D"))
                    </div>
                }
            </div>
        </header>
        <div class="content">
            @Html.Raw(contentHtml)
        </div>
    </article>
</main>


