input[type=submit] {
	background-color: white;
	border: 1px solid blue;
}

input[type=submit]:hover {
	background-color: grey;	
	color: white;
}

.avatar {
	border: 2px solid black;
	border-radius: 2px;
}

div > h1 {
	font: 12px "YouTube Noto",Roboto,arial,sans-serif;
}

