input[type=submit] {
	background-color: white;
	border: 1px solid blue;
}

input[type=submit]:hover {
	background-color: grey;	
	color: white;
}

.avatar {
	border: 2px solid black;
	border-radius: 1px;
}

