main > header {
    font-size: 2em;
    background-color: white;
    text-align: center;
}

main > p {
    margin-left: 10px;
    margin-right: 10px;
}

main > div.tags {
    bottom: 0;
    position: relative;
    margin-left: 10px;
}

main > div.tags a {
    text-decoration: none;
    font-size: 1.2em;
}

main > div.tags a::before {
    content: '#';
}

main > div.tags a:not(:first-child) {
    margin-left: 5px;
}

div.comment-section {
    grid-area: comments;
    margin-left: 370px;
    margin-right: 370px;
    margin-top: 20px;
}

div.comment-section > div.create-comment-container {
    margin-top: 20px;
}

div.comment-section > div.create-comment-container textarea {
    min-width: 300px;
    min-height: 150px;
}

div.comment-section > div.create-comment-container button {
    border: 1px solid #3bc2ab;
    cursor: pointer;
    background-color: white;
    font-size: 1.1em;
    display: block;
}

div.avatar > img{
    width: 50px;
    height: 50px;
    border: 1px solid aqua;
}

div.comments-container {
    background-color: #f1f1f1;
    border: 1px solid #e1e1e1;
    margin-bottom: 12%;
}

div.comment {
    border: 5px solid #e1e1e1;
    margin: 10px;
    background-color: #fff;
}

div.comment div.avatar {
    display: inline;
}

div.comment span.profile-name {
    text-align: top;
}

div.comment span.date {
    display: block;
}

div.comment div.line {
    background-color: grey;
    width: 100%;
    height: 1px;
}

@media (min-width: 375px) and (max-width: 1024px) {
    body > main {
        margin-top: 20px;
        margin: 0;
        width: 100%;
        grid-area: main;
        border: solid 1px gray;
        border-radius: 3px;
        background-color: #f6f6f6;
    }

    body > div.comment-section {
        grid-area: comments;
        margin: 0;

    }
}