body > main {
    border: solid 1px gray;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin-left: 20%;
    margin-right: 20%;
}

main > header {
    font-size: 2em;
    background-color: white;
    text-align: center;
}

main > p {
    margin-left: 10px;
    margin-right: 10px;
}

main > div.tags {
    bottom: 0;
    position: relative;
    margin-left: 10px;
}

main > div.tags a {
    text-decoration: none;
    font-size: 1.2em;
}

main > div.tags a::before {
    content: '#';
}

main > div.tags a:not(:first-child) {
    margin-left: 5px;
}


@media (max-width: 849px) {
    body > main {
        margin-top: 20px;
        margin: 0;
        border: solid 1px gray;
        border-radius: 3px;
        background-color: #f6f6f6;
    }
}