body, html {
    margin: 0;
    height: 100%;
}

header.navigation > a > h1 {
    margin: 0;
}

footer {
    background-color: #333;
    position: fixed;
    bottom: 0;
    padding: 2% 4% 2% 4%;
    display: flex;
    flex-flow: row wrap;
    font-size: 1em;
    margin-top: 2%;
    width: 92%;
}

footer > div.email {
    order: 0;
    flex: 0 0 50%;
    border-bottom: 1px solid white;
}

footer > div.about {
    order: 0;
    flex: 0 0 50%;
    border-bottom: 1px solid white;
    text-align: right;
}

footer > div.license {
    color: white;
    order: 1;
    flex: 0 0 88%;
    font-size: 0.8em;
    text-align: center;
    margin-top: 2%;
}

footer > div.license > a {
    border-bottom: 1px solid black;
}

footer a {
    text-decoration: none;
    color: white;
}


@media (max-width: 1366px) {
    header.navigation {
        background-color: #333;
        font-size: 1em;
        display: flex;
        flex-flow: row wrap;
        padding: 4% 0;
        position: sticky;
        top: 0;
        margin-bottom: 2%;
    }

    header.navigation > div.logo {
        display: none;
    }

    header.navigation > a.title {
        margin-left: 4%;
        display: flex;
        flex: 0 0 76%;
        order: 0;
    }
    header.navigation > a.btn {
        flex: 0 0 16%;
        font-size: 2em;
        order: 0;
        text-align: right;
        margin-right: 4%;
    } 

    header.navigation > nav {
        order: 1;
        margin-top: 15%;
        flex: 0 0 92%;
        flex-flow: column wrap;
        font-size: 1.6em;
        display: none;
        position: absolute;
        background-color: #333;
        width: 100%;
    }

    header.navigation a {
        text-decoration: none;
        color: white;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1367px) { 
    header.navigation > a.btn > i {
        display: none;
    }

    header.navigation > a.title {
        text-decoration: none;
        color: rgb(85, 26, 139);
        margin-top: 2%;
        margin-bottom: 25px;
        margin-left: 15%;
        flex: 0 0 25%;
    }

    header.navigation > div.logo {
        background-image: url(../assets/images/logo.jpg);
        height: 100px;
        display: block;
        border-top: 5px solid aqua;
        flex: 0 0 100%;
    }

    header.navigation {
        display: flex;
        flex-flow: row wrap;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
    }

    main {
        margin: 2% 10%;
    }

    header.navigation > nav {
        display: flex;
        flex-flow: row wrap;
        flex: 0 0 45%;
        text-align: center;
        font-size: 1.5em;
        margin-right: 15%;
    }

    header.navigation > nav > a {
        flex: 0 0 33%;
        padding-top: 4%;
        text-decoration: none;
        color: rgb(85, 26, 139);
    }

    header.navigation > nav > a:hover {
        background-color: #f6f6f6;
    }

    footer {
        padding: 1% 4%;
    }
}