body {
    background-color: #007bff;
}

.content {
    border: 0;
    border-radius: 1rem;
    background-color: white;
    padding: 2rem;
}

.custom-control.custom-checkbox {
    margin-bottom: 1.5rem;
}

.custom-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.wrapper .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.form-labels {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.form-group {
    position: relative;
}

.custom-input:not(:placeholder-shown) ~label {
    padding-top: calc(.75rem / 3);
    padding-bottom: calc(.75rem / 3);
    font-size: 12px;
    color: #777;
}

.custom-input {
    height: auto;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
}

.custom-input::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
} 

@media (min-width: 1367px) {
    .content {
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 10%;
    }
}