.list-wrapper {
    padding: 2% 5%;
    margin-right: 20%;
}

.my-table th , .my-table td { 
    text-align: center;
    vertical-align: middle;
}

.my-table th:first-child {
    width: 50px;
}

.my-table td:nth-child(2) {
    width: auto;
    text-align: left;
    padding-left: 20px;
}

.my-table td:last-child {
    width: 200px;
}

.actions {
    display: flex;
}

.create-post {
    flex: 0 0 100%;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    flex: 0 0 100%;
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search-input{
    padding: 0 10px;
    width: 450px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search-icon{
    background: white;
    color: #e74c3c;
}

.search-icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
}