.list-wrapper {
    padding: 5%;
}

.post {
    width: 600px;
    padding: 10px 10px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.post:nth-child(odd) {
    background-color: #333;
}

.post:nth-child(even) {
    background-color: #444;
}