.list-wrapper {
    padding: 2% 5%;
    margin-right: 20%;
}

.my-table th , .my-table td { 
    padding: 0;
    text-align: center;
    padding: 10px 0;
}

.my-table th:first-child {
    width: 1px;
}

.my-table td:nth-child(2) {
    text-align: left;
    width: 300px;
}

.my-table td:last-child {
    text-align: left;
    width: 10px;
}