
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found 404</title>
    <link rel="stylesheet" href="~/css/error.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Capriola">
</head>
<body>
    <div class="wrapper">
        <h1>404</h1>
        <p>Sorry - Page not Found!</p>
        <a asp-controller="Home" asp-action="Index">Back to Home</a>
    </div>
</body>
</html>
