@{
    ViewData["title"] = "Not found";
}

@section styles {
    <link rel="stylesheet" href="/sass_compiled/notfound.css">
}

<main>
    <div class="wrapper">
        <h1 class="error">404</h1>
        <div class="message">
            We can't seem to find the page you're looking for.
        </div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="action-btn"><i class="fa-solid fa-left-long"></i>Go to homepage</a>
    </div>
</main>