<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog.Web</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    @RenderSection("styles", false)
</head>
<body>
    <header class="navigation">
        <a asp-controller="Home" asp-action="Index" class="title">
            <h1>Stoyan's Blog</h1>
            <a href="#" class="btn">
                <i class="fa fa-bars"></i>
            </a>
        </a>
        <nav>
            <a asp-controller="Home" asp-action="Index">
                <span>Home</span>
            </a>
            <a href="#">
                <span>Most popular</span>
            </a>
            <a href="#">
                <span>My posts</span>
            </a>
        </nav>
        <div class="logo"></div>
    </header>
    @RenderBody()
    <script src="~/js/script.js"></script>
    <footer>
        <div class="email">
            <a href="#">Email</a>
        </div>
        <div class="about">
            <a href="#">About</a>
        </div>
        <div class="license">This is personal blog made by <a href="#">Me</a></div>
    </footer>
</body>
</html>
