@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}

@section styles {
    <link rel="stylesheet" href="~/admin/css/login.css" />
}

<main>
    <div class="content">
            <form asp-area="Admin" asp-controller="Auth" asp-action="Login" method="post">
                <div class="wrapper">
                    <h5 class="custom-title text-center">Sign In</h5>
                    <div class="form-group">
                        <input class="form-control form-control-lg custom-input" placeholder="Username" id="inputUsername" type="text" name="username" />
                        <label for="inputUsername" class="form-labels">Username</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg custom-input" placeholder="Password" id="inputPassword" type="password" name="password" />
                        <label for="inputPassword" class="form-labels">Password</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" name="RememberMe" value="true">
                        <label class="custom-control-label" for="customCheck1">Rembember me</label>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Sign in</button>
                </div>
            </form>
    </div>
</main>
