@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Blog.Web</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/sass_compiled/admin/login.css" />
</head>
<body>
<div class="wrapper">
    <form asp-area="Admin" asp-controller="Auth" asp-action="Login" method="post">
        <div class="inner-wrapper">
            <h1>Sign In</h1>
            <div class="field">
                <input placeholder="Username" id="username" type="text" name="username" />
                <label for="username">Username</label>
            </div>
            <div class="field">
                <input placeholder="Password" id="password" type="password" name="password" />
                <label for="password">Password</label>
            </div>
            <div class="remember-me">
                <input type="checkbox" id="remember-me" name="RememberMe" value="true">
                <label for="remember-me">Rembember me</label>
            </div>
            <button type="submit" class="login-btn">Sign in</button>
        </div>
    </form>
</div>
</body>
</html>
