@model FormEditModel
@{
    ViewData["Title"] = "Create Form";
    string actionName = (string)ViewData["actionName"];
}

@section styles {
    <link rel="stylesheet" href="~/admin/css/create-post.css" />
}

<div class="form-wrapper">
    <form asp-controller="Post" asp-action="@actionName" class="main-form">
        <h1 class="text-center">
            @if (actionName == "Create")
            {
                <span>Creating post</span>
            }
            else if(actionName == "Edit")
            {
                <span>Editing post</span>
            }
        </h1>
        <div class="form-group">
            <label for="Title">Title</label>
            <input class="form-control" asp-for="Title" value="@Model?.Title" />
        </div>
        <div class="form-group">
            <label for="Content">Content</label>
            <textarea class="form-control" asp-for="Content" rows="20">@Model?.Content</textarea>
        </div>
        <div class="form-group">
            <label for="Tags">Tags</label>
            <input class="form-control" asp-for="Tags" value="@Model?.Tags" />
            <small class="form-text form-muted">
                * Separate tags with commas
            </small>
        </div>
        @if (actionName == "Edit")
        {
            <input type="hidden" value="@Model.Id" name="id"/>
            <input type="hidden" asp-for="CreatedOn" value="@Model?.CreatedOn"/>
        }
        @if (Model?.ErrorMessages != null)
        {
            <div>
                @foreach (string errorMessage in Model.ErrorMessages)
                {
                    <div class="alert alert-danger">@errorMessage</div>
                }
            </div>
        }
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>

