@model PostModel
@{
    ViewData["Title"] = "Delete Post";
}

@section styles {
    <link rel="stylesheet" href="~/sass_compiled/admin/post/delete.css" />
}

<form class="main-form" asp-controller="Post" asp-action="TakeDelete" asp-route-id="@Model!.Id">
    <h2>You are about to delete post:</h2>
    <h1 class="title">@Model.Title</h1>
    <h3>Are you sure?</h3>
    <a type="submit" class="btn btn-primary" asp-controller="Post" asp-action="All">Cancel</a>
    <button type="submit" class="btn btn-link btn-delete">Delete</button>
</form>