@model PostModel[]

@{
    ViewData["Title"] = "Page";
    Layout = "_AdminPanelLayout";
}

@section styles
{
    <link rel="stylesheet" href="~/admin/css/posts.css"/>
}

<div class="list-wrapper">
    @foreach (var post in Model)
    {
        <div class="post">
            <span class="lead text-center post-title">@post.Title</span>
            <div class="btn-group action-buttons">
                <a class="btn btn-info" asp-area="" asp-controller="Data" asp-action="Post" asp-route-id="@post.Id">View</a>
                <a class="btn btn-warning" asp-controller="Form" asp-action="EditForm" asp-route-id="@post.Id">Edit</a>
                <a class="btn btn-danger" asp-controller="Form" asp-action="DeletePostForm" asp-route-id="@post.Id">Delete</a>
            </div>
        </div>
    }
</div>

