@model AccountModel

@{
    ViewData["Title"] = "Login";
    Layout = "_AdminLayout";
}

<main>
    @if ((bool)ViewData["isLogged"])
    {
        <div>
            <h1>You are already logged @Model.Username!</h1>
            <div class="avatar">
                <img src="@Model.Avatar" />
            </div>
            <form asp-controller="Auth" asp-action="LogOut" method="post">
                <input type="submit" name="button" value="Log out!" />
            </form>
        </div>
    }
    else
    {
        <form asp-controller="Auth" asp-action="Login" method="post">
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input class="form-control form-control-lg" id="inputUsername" type="text" name="username" />
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input class="form-control form-control-lg" id="inputPassword" type="password" name="password" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    }
</main>