@model AccountModel

@{
    ViewData["Title"] = "Login";
}

@section styles {    
    <link href="~/css/login.css" rel="stylesheet" />
}

<main>
    @if ((bool)ViewData["isLogged"])
    {
        <div>
            <h1>You are already logged @Model.Username!</h1>
            <div class="avatar">
                <img src="@Model.Avatar" />
            </div>
            <form asp-controller="Auth" asp-action="LogOut" method="post">
                <input type="submit" name="button" value="Log out!" />
            </form>
        </div>
    }
    else
    {
        <form asp-controller="Auth" asp-action="Login" method="post">
            <input type="text" name="username" />
            <input type="password" name="password" />
            <input type="submit" value="Log in!" />
        </form>
        <form asp-controller="Auth"></form>
    }
</main>